body {
  background-color: bisque;
}
.homebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-container{
  height: 80vh
}
.aboutbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
}
.resumebox {
  padding-top: 80px;
  height: 100%;
}
.resumePDF {
  display: flex;
  justify-content: center;
  color: black;
}
.contactbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
}